body{
    margin: 0;
    padding: 0;
}
main{
    background-color:  hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 510px;
    /* height: 60vh; */
    box-sizing: border-box;
    border-radius: 20px;
}

.image{
    background-image: url('./images/image-product-desktop.jpg');
    min-height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px 0px 0px 20px;
}

.price{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.info{
    padding: 30px;
    background: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    border-radius: 0px 20px 20px 0px;
}

.info .brand{
    letter-spacing: 5px;
    font-size: 12px;
    color: hsl(228, 12%, 48%);
}

.info h1{
    font-family: 'Fraunces', serif;
    color:  hsl(212, 21%, 14%);
    font-weight: 700;
    margin-top: 20px;
}

.info p{
    color: hsl(228, 12%, 48%);
    font-size: 12px;
}


.bonus{
    color: hsl(158, 36%, 37%);
    font-size: 25px;
    font-family: 'Fraunces', serif;
}

.real{
    margin-left: 20px;
    color: hsl(228, 12%, 48%);
    font-size: 12px;
    text-decoration: line-through;
}

button{
    width: 100%;
    padding: 15px;
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}


@media(max-width:375px){
    section{
        grid-template-rows: 0.6fr 1fr;
        grid-template-columns: 1fr;
        width: 100%;
    }
    .image{
        border-radius: 20px 20px 0px 0px;
        background-image: url('./images/image-product-mobile.jpg');
        min-height: 200px;
    }

    .info{
        border-radius: 0px 0px 20px 20px;
    }
}